.sideNavbar {
  background-color: #111111;
  width: 100px;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.logo img {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 55px;
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.navItem:hover svg {
  color: #ffcc00;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: red;
  padding-bottom: 20px;
}

.logout:hover svg {
  color: #fff;
}

.marginTopAuto {
  margin-top: auto;
}

.content {
  margin-left: 120px;
  padding: 20px;
  color: #fff;
}

.title {
  font-size: 30px;
}


.active {
  color: #ffcc00;
}
