body {
  background-color: #1c1c1c;
}

.side-navbar {
  background-color: #111111;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.side-navbar .logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 55px;
}

.nav-item {
  margin-bottom: 25px;
  cursor: pointer;
}

.nav-item:hover svg {
  color: #ffcc00;
}

.logout {
  cursor: pointer;
  color: red;
  padding-bottom: 20px;
}

.logout:hover svg {
  color: #fff;
}

.content {
  margin-left: 120px;
  padding: 20px;
  color: #fff;
}
