body{

    background-color: rgb(41, 40, 40);
    }
    
    .side-navbar {
        background-color: #111111;
        width: 100px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-between; 
        color: #fff; 
    }
    
    .side-navbar .logo img {
        width: 28px; 
        height:65px;
        margin-bottom: 20px; 
        cursor: pointer;
    }
    
    .side-navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-bottom: 480px;
    }
    
    .side-navbar ul li {
        margin-bottom: 25px;
        text-align: center; 
        cursor: pointer;
    }
    
    
    .side-navbar ul li:hover svg {
        color: #ffcc00; 
    }
    .logout{
        margin-top: 300px;
        color: red; 
    }
    
    .side-navbar .nav-links li.logout:hover svg {
        color:white; 
    }
    .namee{
        margin-left: 160px;
        margin-top: 20px;
        color: #fff;
    }
    .comm{
        margin-left: 190px;
    }